.advice {
   padding: 125px 0px 81px 0px;
   // .advice__body

   @media(max-width:992px) {
      padding: 50px 0px;
   }

   @media(max-width:479px) {
      padding: 25px 0px;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -20px -20px;

   }

   // .advice__column

   &__column {
      flex: 0 1 25%;
      padding: 0px 20px;
      margin: 0px 0px 20px 0px; // border: 1px solid red;

      // overflow: hidden;
      @media(max-width:992px) {
         flex: 0 1 50%;
         padding: 0px 10px;
      }

      @media(max-width:479px) {
         flex: 0 1 100%;
         padding: 0px 10px;
      }
   }



   // .advice__item

   &__item {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      //flex-end здесь попросту не нужен
      background: #fff;
      height: 100%;
      // overflow: hidden;
      // border: 1px solid red;


   }

   &__headline:not(:last-child) {
      margin: 0px 0px 30px 0px
   }


}

.advice__headline {
   align-items: center;
   text-align: center;
}



.item-advice {



   &__body {
      padding: 30px;
      flex: 1 1 auto;
   }

   // .item-advice__title

   &__title {
      /* h5 */

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: var(--ebony-clay-color);
      margin: 0px 0px 15px 0px;
   }

   // .item-advice__text

   &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.2px;
      color: var(--dove-gray-color);


   }

   &__text:not(:last-child) {
      margin: 0px 0px 5px 0px;
   }

   // .item-advice__image

   &__image {
      width: 100%;
      // min-height: 138px; // БУДЕТ ЛИ СТАВИТЬ ????
      padding: 0px 0px 60% 0px; // Вместо фиксированной высоты
      display: inline-block;
      // border: 1px solid red;
      overflow: hidden;
      background-color: rgb(207, 205, 205);
      // border: 1px solid red;

   }

   &__image img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease;
   }


}


.item-advice__image img:hover {
   // border: 1px solid red;
   transform: scale(1.1);
   transition: transform 1s ease;
}